@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
 @font-face {
        font-family: "Worstveld Sling Extra";
        src: url(/assets/fonts/WorstveldSlingExtra.ttf) format("truetype");
    }



h1, h2, h3, h4, h5, h6 {
    font-family: "Worstveld Sling Extra", cursive, sans-serif;
    color: #000F55;
}
p, div {
    font-family: "Worstveld Sling Extra", cursive, sans-serif;
    color:#000F55;
}
.top60{
    margin-top: 30px;
}
.label30{
  font-size:30px;
}

.backboard{
  background-image: url("board.jpg");

}

.notebox{
	/*height: 370px;
    width: 400px;*/
        margin-right: 35px;
}

.notebox a img{
  height: 300px;
  width: 395px;
}
.show a img{
  height: 800px;
  margin: 0 auto;
}
.showtext{
  position:absolute;
  text-align:center;
  top: 120px;
  width: 96%;
  font-size:38px;
}
.tasktitile{
  left: 70px;
  position:absolute;
  text-align:center;
  top: 120px;
  width: 96%;
  font-size:34px !important;
}
.tasktitile:hover{
  border:none !important;
  font-size: 32px;
  cursor: pointer;
}
.tasktime{
  left: 70px;
  position:absolute;
  text-align:center;
  top: 165px;
  width: 95%;
  font-size:16px;
}
.tasktime:hover{
  border:none;
}
.noteedit{
  left: 52px;
  position:absolute;
  top: 300px;

}
.notedelete{
  left: 130px;
  position:absolute;
  top: 300px;

}
.divP20{
	padding: 20px;
}
.marginLeft36{
 margin-left: 36%;
}
.logged{
    margin: 0px 10px 0 0;
    font-size: 36px;
    color:#000;
}


@media (max-width: 1000px) {
	.tasktitile{
	   left: 20% !important;  
	}
}

