@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #000F55;
}
p, div {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:#000F55;
}

.notebox{
	height: 370px;
    width: 400px;
}
.notebox :hover{
	border: 1px solid #222;
}
.notebox a img{
  height: 300px;
  width: 395px;
}
.tasktitile{
  left: 0;
  position:absolute;
  text-align:center;
  top: 120px;
  width: 100%;
  font-size:32px;
}
.tasktitile:hover{
  border:none !important;
  cursor: pointer;
}
.tasktime{
  left: 0;
  position:absolute;
  text-align:center;
  top: 165px;
  width: 100%;
  font-size:16px;
}
.tasktime:hover{
  border:none;
}
.divP20{
	padding: 20px;
}

@media (max-width: 1000px) {
	.tasktitile{
	   left: 20% !important;  
	}
}

